<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Tailspin.Web.Models" value="https://pkgs.dev.azure.com/EYFSOAdvisory/cf396b00-7d4d-4951-9029-0c5176d2b61f/_packaging/Tailspin.Web.Models/nuget/v3/index.json" />
  </packageSources>
</configuration>
